.create-post {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(139, 139, 139, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.create-post .close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 35px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-post > .box {
    width: 76%;
    height: 76%;
    max-width: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
}

.create-post .box .title {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.create-post .box .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-weight: 500;
}

.create-post .box .bottom .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-post .box .bottom .content .icon{
    font-size: 130px;
}

 button {
    padding: 7px 15px;
    background-color: #0094f6;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 5px;
}

.title button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    color: #0095f6;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.title button:hover{
    color: #2851A3;
}

input{
    display: inline-block;
    padding: 8px 16px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.icon{
    cursor: pointer;
    font-size: 25px;
    color: black;
}