.post {
  width: 550px;
  margin: 30px 40px 50px 40px;
}
  
.post__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
  
.post__headerAuthor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}

.account_name {
  color: black;
}

.account_name:hover{
    color:  rgba(128, 128, 128, 0.516);
}
  
.post__headerAuthor > .account_name > span {
  color: rgba(128, 128, 128, 0.516);
  font-size: 15px;
  padding-left: 5px;
  cursor: pointer;
}
  
.post__image > img {
  width: 100%;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516);
}
  
.post__footer{
  text-align: left;
}

.post__footerIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  
.postIcon {
  padding: 7px;
  font-size: 30px;
  cursor: pointer;
}
  
.postIcon :hover {
  color:  rgba(128, 128, 128, 0.516); 
}